/* Body with font family, and background colors */
body {
	background-color:black;
	font-family:arial;
	color:white
}

/* Text header fontfamily, and color */
h1{
	color:grey;
	font-family:verdana
}

/* This section for the main div with assingned size and colors */
.maindiv {
    background-color: #ffffff;
    color: #000000;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

/* This section for the output in card content e.g. compute, principal and years */
.contents {
    margin-left: 80px;
}

table td {
    padding-bottom: 10px;
}

#compute {
    margin-bottom: 10px;
    background-color: blue;
    color: white;
    height: 40px;
    width: 325px;
}
#principal {
    height: 25px;
    width: 190px;
}

#years {
    height: 35px;
    width: 200px;
}

#footer {
    margin-top: 10px;
}

.labels {
    width: 120px;
}

/* This will highlite the interst rate outputed result in card */
.highlight {
    background-color: #FFFF00;
}
